
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(#000000, #d61212);
}


header {
  text-align: center;
  margin: 20px 0;
}

#logo {
  display: flex;
  align-items: center;   
  justify-content: flex-start; 
  margin: 20px;
}

#logo-img {
  width: 300px;        
  height: 300px;
  border-radius: 50%; 
  margin-right: 10px; 
  object-fit: cover;  
}

#logo h1 {
  color: #e60000;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  margin: 0;
}


nav ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
button {
    padding: 12px 30px;
    background: black;
    color: #fff;
    border: 2px solid #941717;
    border-radius: 10px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0 0 15px #900000, 0 0 30px #cf2323 inset;
}


button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #900000;
}
.botoes-principais {
  display: flex;            
  justify-content: center; 
  margin-top: 15px;
  flex-wrap: wrap;         
  gap: 10px;                
}


.content-section {
  display: none;
  margin: 30px;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #e0d5d5;
  color: white;
  border-radius: 5px;
}

#relatorio-conteudo, #faturamento-resultado, #lista-agendamentos {
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
}
